<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
    <meta charset="UTF-8">
    <title>student information</title>
</head>
<body>

<h1>Student Info</h1>

<p>Roll No = <strong th:text = ${student.rollNo}></strong></p>
<p>Name = <strong th:text="${student.firstName + ' '+student.lastName}"></strong> </p>
<p>Gender = <strong th:text="${student.gender}"></strong></p>
<p>Phone = <strong th:text="${student.phone}"></strong></p>
<p>Email = <strong th:text="${student.email}"></strong></p>


</body>
</html>